<!DOCTYPE html>
<html>
  <head>
    <link href='/assets/style.css' rel="stylesheet" type="text/css" />
  </head>
  <body>
      <% include common/nav.ejs %>
      <h1>Thank you for Contacting Us!</h1>
      <p>Here is our contact us page!</p>

          <p><label>Your name</label>
          <strong> <%= data.name %> </strong>

          <p><label>Desired Dept</label>
          <strong> <%= data.dept %> </strong>

          <p><label>Your Email</label>
          <strong> <%= data.email %></strong>
  </body>
</html>
